.header{
  margin:auto;

&-title{
  font-size:1.6rem;
  text-align: center;


&-main{
  font-weight:200;

}
&-sub{
    color:#000;
}
}
&-text{
  font-size:1.6rem;
  padding:20px 0;
  margin:auto;
  line-height:1.5;

  text-align:center;
}



}
